@charset "UTF-8";

#goodsBox {
    overflow: hidden;
    width: 98%;
    padding: 52px 0 52px 0;
    text-align: center;
    background-color: #EEEEEE;
}

#goodsBox #need_login {
    display: block;
    font-weight: bold;
    font-size: 27px;
    color: #101010;
    line-height: 35px;
    letter-spacing: -0.035em;
}

#goodsBox #need_auth{
    display: block;
    font-weight: bold;
    font-size: 27px;
    color: #101010;
    line-height: 35px;
    letter-spacing: -0.035em;
}

#goodsBox #lock_img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 17px auto 0;
    background: url(../img/lock.png) no-repeat;
    background-size: 150px 150px;
}

#goodsBox #lock_img2 {
    display: block;
    width: 150px;
    height: 150px;
    margin: 17px auto 0;
    background: url(../img/lock.png) no-repeat;
    background-size: 150px 150px;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#selected_location {
    font-family: GmarketSansMedium, serif;
    font-size: large;
}

